@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow: auto;
    background-color: #321567;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: 'Wave-Font';
}

.logo:hover {
    color: #fff;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    margin-bottom: 85%;
}

section img#icon {
    padding-top: 50px;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

section img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.alert.alert-danger, .alert.alert-success, .text-center, .alert.alert-info {
    font-family: 'Welcome-Font';
}

.form-label {
    font-family: 'Title-Font';
    font-size: 1.2em;
}

#sign {

    font-family: 'Title-Font';
    margin-left: 20px;
    transform: translateY(-100px);
    font-size: 1em;

}

.btn.btn-primary {
    border-radius: 25px;
    color: #fff;
}

footer {
    z-index: 1000;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;


}

footer p {
    font-size: 1.5em;
    font-family: 'Welcome-Font';
    color: white;
    z-index: 1000;

}

footer .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 3s linear infinite;

}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.65;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;

}


@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

.container {
    z-index: 1000;
    margin-top: 30px;
    scroll-behavior: smooth;
    margin-bottom: 145px;
}


#sign, #noeffect {
    letter-spacing: 1.5px;
}

.row.col-md-10 h2 {
    font-family: 'Welcome-Font';
}

.noUsers{
    font-family: 'Welcome-Font';
    color: #fff;
}

.details {
    font-family: 'Title-Font';
    letter-spacing: 1.5px;
    font-size: 1.3em;
}

.table.table-bordered.table-hover
{
    background: #6746a4;
}

h2 {
    color: #fff;
    font-family: 'Welcome-Font';
    margin-top: 300px;
    padding-top: 90px;
}

h1 {
    color: #fff;
    font-family: 'Welcome-Font';
    font-size: 5em;
}

table th {
    font-size: 1.4em;
    letter-spacing: 2px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

}


.flex-box {
    width: 300px;
    height: 100px;
    background: #6746a4;
    color: #fff;
    align-items: center;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Welcome-Font';
    letter-spacing: 2px;
    text-align: center;
    transition: transform 0.5s;
    
}

.flex-box p
{
    font-size: 1.2em;
    
}

.flex-box:hover {
    transform: scale(1.1);
}

span
{
    font-size: 0.8em;

}

.container1
{
    overflow: auto;
    overflow-x: hidden;
}

.container2
{
    overflow: auto;
    overflow-x: hidden;
}

#dashboardImage
{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 75%;
}
