@font-face {
    font-family: 'Wave-Font';
    src: url("../images/font/wave.ttf")
}

@font-face {
    font-family: 'Welcome-Font';
    src: url("../images/font/welcome.otf");
}

@font-face {
    font-family: 'Title-Font';
    src: url("../images/font/title.otf");
}

@font-face {
    font-family: 'Homepage-Font';
    src: url("../images/font/homepage.otf");
}