<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/buy.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/styleBuy.css" rel="stylesheet">
    <title>TradeWave</title>
    <script>

function calculateTotalPrice() {
    var lots = document.getElementById("lots").value;
    var buyPrice = document.getElementById("buyPrice").value;
    var totalPrice = lots * buyPrice;
    document.getElementById("totalPrice").value = totalPrice;
}

    </script>
</head>
<div class="video-bg-container">
    <video autoplay class="video-bg" loop muted>
        <source src="https://assets.mixkit.co/videos/preview/mixkit-the-stock-market-trend-on-screen-9607-large.mp4"
                type="video/mp4">
    </video>
</div>
<div class="container">
    <header>
        <a class="logo" href="/homepage">TradeWave</a>
    </header>

    
    <div class="flex-container">
        <div class = "alert" th:if="${param.success}">

            <div class="alert alert-info">
                You have successfully bought the stock!
                <p th:text="${successMessage}"></p>
            </div>
        </div>
        <div class="alert" th:if="${param.marketClosed}">
            <div class="alert alert-info">
                Trading is currently closed. Buy order cannot be executed.
            </div>
        </div>
        <div class="alert" th:if="${param.insufficientFunds}">
            <div class="alert alert-info">
                Insufficient funds to execute the buy order.
            </div>
        </div>
        <div class="alert" th:if="${param.notInRange}">
            <div class="alert alert-info">
                Buy price is not within the acceptable range.
            </div>
        </div>
        <p class="buy">Buy</p>
        <hr>
        <form
                method="post"
                th:action="@{'/buy/' + ${symbol}+'/save'}"
                th:object="${buyStock}"
        >
            <ul>
                <li><label id="symbol">Stock Symbol: <span th:text="${symbol}"></span></label></li>
                <li><label id="marketPrice">Market Price: <span th:text="${marketPrice}"></span></label></li>
                <li>
                    <label>Lots:</label>
                    <input
                            id="lots"
                            name="lots"
                            oninput="calculateTotalPrice();"
                            placeholder="1-5 Lots Only"
                            th:field="*{lots}"
                            type="text"> 
                </li>
                <li>
                    <label for="buyPrice">Price:</label>
                    <input
                            id="buyPrice"
                            name="buyPrice"
                            oninput="calculateTotalPrice();"
                            placeholder="1% Within Market Price"
                            th:field="*{buyPrice}"
                            type="text">
                </li>
                <li><label for="">Total Price:</label><input type="text" id= "totalPrice" name = ""></li>
                <button id="btn" type="submit">BUY</button>
            </ul>
        </form>
    </div>
</div>

<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p>
</footer>
</html>
