<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleBuy.css">
    <title>TradeWave</title>
</head>
<body>
<div class="container">
    <header>
        <a class="logo" href="#">TradeWave</a>
    </header>
    <div class="flex-container">
        <p class="buy">Buy</p>
        <hr>
        <ul>
            <li><label for="Name">(Stockkkkkk)</label></li>
            <li><label for="Market">(Price)</label></li>
            <li><label for="Lots">Lots:</label>
                <input type="text" id="lots" name="lots" placeholder="1-5 Lots Only"></li>
            <li><label for="Price">Price:</label>
                <input type="text" id="buyPrice" name="buyPrice" placeholder="1% Within Market Price"></li>
            <li><button id="btn">BUY</button></li>
        </ul>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
        </div>
        <p>©2023 TradeWave. All rights reserved.</p>
    </footer>
</div>
<script src="buy.js"></script>
</body>
</html>
