<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/src/main/resources/static/js/buy.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/styleBuy.css">
    <title>TradeWave</title>
</head>
<div class="container">
<header>
    <a class="logo" href="#">TradeWave</a>
</header>
<body>  
    <div class="flex-container">
        <p class = "buy">Buy</p>
        <hr>
        <ul>
            <li><label for="Name">(Stock)</label></li>
            <li><label for="Market">(Price)</label></li>
            <li><label for="Lots">Lots:</label>
                <input type="text" id="Lots" name="Lots" placeholder="1-5 Lots Only"></li>
                <li><label for="Price">Price:</label>
                    <input type="text" id="Price" name="Price" placeholder="1% Within Market Price"></li>
                    <button id="btn">BUY</button>
        </ul>
    </div>

    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
        </div>
        <p>©2023 TradeWave. All rights reserved.</p>
    </footer>
</body>
</html>