<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#" rel="shortcut icon">
    <meta charset="UTF-8">
    <title>LeaderBoard</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleUsers.css}">
<style>
    body{
        background-color: #21094e;
    }

    h2 {
        color: #fff;
    }

    table th {
        font-size: 1.4em;
        letter-spacing: 2px;
        padding-left: 3px   ;
    }
</style>
</head>
<body>
<section>
    <header>
        <a th:href="@{/}" class="logo">TradeWave</a>
    </header>
    <div class="container">
        <div class="row col-md-10">
            <h2>LeaderBoard</h2>
        </div>

        <table class="table table-bordered table-hover">
            <colgroup>
                <col style="width: 7%;">
                <col style="width: 75%;"> 
                <col>
            </colgroup>
            <thead class="table-dark">
            <tr class = "details">
                <th>Rank</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr class = "details" th:each="user, userStat : ${users}" th:limit="10">        <!--Change this line too-->
                <td th:text="${userStat.index + 1}"></td>          <!--Change this to RANK 1,2,3,4...-->
                <td th:text="${users.firstName}"></td>   <!--Change this to NAME-->
                <td th:text="${user.point}"></td>       <!--Change this to POINTS-->
            </tr>
            <tr th:if="${#lists.isEmpty(users)}">
                <td colspan="3" class = "noUsers">No users found in the leaderboard.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p></footer>
</body>
</body>
</html>