<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#" rel="shortcut icon">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/css/report.css}">
    <script src="/js/report.js"></script>
</head> 
    <header>
        <a href="/homepage" class="logo">TradeWave</a>
    </header>   
    <body>
        <h1>REPORT</h1>
        <div class="flex-container">
            <div class = "alert" th:if="${param.success}">
    
                <div class="alert alert-info">
                    Downlaoded as PDF!
                    <p th:text="${successMessage}"></p>
                </div>
            </div>
            <div class="alert" th:if="${param.marketClosed}">
                <div class="alert alert-info">
                    Downloaded as TXT!
                </div>
            </div>
            <div class="alert" th:if="${param.insufficientFunds}">
                <div class="alert alert-info">
                    Downloaded as CSV!
                </div>
            </div>
       <div class="container">
        <button id="PDF">Download as PDF</button>
        <button id="TXT">Download as TXT</button>
        <button id="CSV">Download as CSV</button>

       </div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p></footer>
</body>
</html>