<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#" rel="shortcut icon">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/css/report.css}">
</head> 
    <header>
        <a href="/homepage" class="logo">TradeWave</a>
    </header>   
    <body>
        <h1>REPORT</h1>
       <div class="container">
        <button>Download as PDF</button>
        <button>Download as TXT</button>
        <button>Download as CSV</button>

       </div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p></footer>
</body>
</html>