<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Stocks</title>
    <link rel="stylesheet" href="/css/styleSearch.css">
</head>
<div class="container">
<header>
    <a class="logo" href="/homepage">TradeWave</a>
</header>
<body>
    <hr class = "topLine">
<h1>Search Stocks</h1>
<form action="/search">
    <label for="symbol">Enter Symbol:</label>
    <input id="symbol" name="symbol" required type="text">
    <button type="submit">Search</button>
</form>
<hr>
<h2>Search Results</h2>
<table>
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stocks}">
        <td>
            <a th:href="@{/stock/{symbol}(symbol=${stock.symbol})}" th:text="${stock.symbol}"></a>
        </td>
        <td>
            <a th:href="@{/stock/{symbol}(symbol=${stock.symbol})}" th:text="${stock.name}"></a>
            
        </td>
    </tr>
    <tr th:if="${stocks.size() == 0}">
        <td colspan="2">No matching stocks found.</td>
    </tr>
    </tbody>
</table>
<p th:if="${error}" th:text="${error}"></p>
</div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p>
</footer>
</body>
</html>
