<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#" rel="shortcut icon">
    <meta charset="UTF-8">
    <title>Sell</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleUsers.css}">
<style>
    body{
        background-color: #21094e;
    }

    h2 {
        color: #fff;
    }

    table th {
        font-size: 1.4em;
        letter-spacing: 2px;
    }
</style>
</head>
<body>
<section>
    <header>
        <a th:href="@{/}" class="logo">TradeWave</a>
    </header>
    <div class="container">
        <div class="row col-md-10">
            <h2>Sell Your Stocks!</h2>
        </div>

        <table class="table table-bordered table-hover">
            <colgroup>
                <col>
                <col style="width: 10%;"> 
                <col>
                <col>
            </colgroup>
            <thead class="table-dark">
            <tr class = "details">
                <th>Stock Symbol</th>
                <th>Lot(s)</th>
                <th>Price</th>
                <th>Sell</th>

            </tr>
            </thead>
            <tbody>
            <tr class = "details" th:each="stock: ${stocks}">        <!--Change this line too-->
                <td th:text="${stock.symbol}"></td>          <!--Change this to RANK 1,2,3,4...-->
                <td th:text="${stock.lots}"></td>   <!--Change this to NAME-->
                <td th:text="${stock.buyPrice}"></td>
                <td>
                <form th:action="@{/}">           <!---Change this one to sell-->
                    <input name="_method" type="hidden" value="delete"/>    <!---Change this one to sell-->
                    <button class="btn btn-danger" type="submit">Sell</button>
                </form>
            </td>
            </tr>
            <tr th:if="${#lists.isEmpty(stocks)}">
                <td colspan="3" class = "noUsers">No available stocks to sell.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p></footer>
</body>
</body>
</html>