<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/sell.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/styleBuy.css" rel="stylesheet">
    <title>TradeWave</title>
</head>
<div class="video-bg-container">
    <video autoplay class="video-bg" loop muted>
        <source src="https://assets.mixkit.co/videos/preview/mixkit-the-stock-market-trend-on-screen-9607-large.mp4"
                type="video/mp4">
    </video>
</div>
<div class="container">
    <header>
        <a class="logo" href="/homepage">TradeWave</a>
    </header>
    <div class="flex-container">
        <div class="alert" th:if="${param.success}">

            <div class="alert alert-info">
                You have successfully sold the stock!
            </div>
        </div>
        <div class="alert" th:if="${param.marketClosed}">
            <div class="alert alert-info">
                Trading is currently closed. Sell order cannot be executed.
            </div>
        </div>
        <div class="alert" th:if="${param.insufficientLots}">
            <div class="alert alert-info">
                Insufficient lots to execute the sell order.
            </div>
        </div>
        <div class="alert" th:if="${param.notInRange}">
            <div class="alert alert-info">
                Buy price is not within the acceptable range.
            </div>
        </div>

        <p class="buy">Sell</p>
        <hr>
        <form
                method="post"
                th:action="@{'/sell/' + ${orderId}+'/save'}"
                th:object="${sellStock}"
        >
            <ul>
                <li><label id="orderId">Order ID: <span th:text="${orderId}"></span></label></li>
                <li><label id="symbol">Stock Symbol: <span th:text="${symbol}"></span></label></li>
                <li><label id="marketPrice">Market Price: <span th:text="${marketPrice}"></span></label></li>
                <li>
                    <label>Lots:</label>
                    <input
                            id="lots"
                            name="lots"
                            oninput="calculateTotalPrice()"
                            placeholder="1-5 Lots Only"
                            th:field="*{lots}"
                            type="text">
                </li>
                <li>
                    <label for="sellPrice">Price:</label>
                    <input
                            id="sellPrice"
                            name="sellPrice"
                            oninput="calculateTotalPrice()"
                            placeholder="1% Within Market Price"
                            th:field="*{sellPrice}"
                            type="text">
                </li>
                <li><label>Total Price:</label><input id="totalPrice" name="" type="text"></li>
                <button id="btn">SELL</button>
            </ul>
        </form>
    </div>
</div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p>
</footer>
</html>
