<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#" rel="shortcut icon">
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/css/settings.css}">
</head>
<header>
    <a href="/homepage" class="logo">TradeWave</a>
</header>

<body>
    <div class="container">
        <h1>Settings</h1>
        <label for="threshold">Set your current threshold for P&L:</label>
        <input type="number" id="threshold" placeholder="Enter your threshold amount (RM)">
        <button id="btn">Set</button> <!--You have done setting ur threshold-->
        <p class="noti">Notifications (ON/OFF)?</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
            <img src="/images/mail.png">
        </label>


    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
        </div>
        <p>©2023 TradeWave. All rights reserved.</p>
    </footer>
</body>

</html>