<!DOCTYPE html>
<html>

<head>
    <link href="/css/stockInfo.css" rel="stylesheet" type="text/css">
    <title>Stock Information</title>
</head>

<body>
<header>
    <a class="logo" href="/homepage">TradeWave</a>
</header>
<div class="video-bg-container">
    <video autoplay class="video-bg" loop muted>
        <source src="https://assets.mixkit.co/videos/preview/mixkit-the-stock-market-trend-on-screen-9607-large.mp4"
                type="video/mp4">
    </video>
</div>

<div class="container">
    <h1>Stock Information</h1>

    <form action="/search" method="post">
        <input name="stockCode" placeholder="Enter Stock Code" type="text">
        <button type="submit">Search</button>
        <button id="buy-button" type="button">Buy</button>
        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function () {
                let buyButton = document.getElementById("buy-button");
                buyButton.addEventListener("click", function () {
                    let stockCode = /*[[${stockCode}]]*/ '';
                    window.location.href = '/buy/' + stockCode;
                });
            });
        </script>
    </form>

    <table class="stock-table">
        <thead>
        <tr>
            <th>Stock Code</th>
            <th th:text="${stockCode}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info : ${stockInfo}">
            <td th:text="${info.label}"></td>
            <td th:text="${info.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
    </div>
    <p>©2023 TradeWave. All rights reserved.</p>
</footer>
</body>
</html>